.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}
.cat_img1 {
width: 100%;
grid-row-start: 2;
}
.cat_img2 {
    width: 100%;
    grid-row-start: 2;
}
