:root {
  --modal-orange: rgb(248, 162, 3);
  --link-blue: rgba(3, 38, 83, 0.8);
}
.wrapper {
  display: grid;
  grid-template-areas: "header header header"
                       "aside  content content"
                       "aside  content content"
                       "footer footer footer";
  grid-gap: 20px;
  min-height: 100%;
}
/*        */
/* Header */
/*        */
.title {
  text-align: center;
  grid-area: header;
  border-bottom: 3px solid var(--modal-orange);
  background-color: lightgrey;
  color: var(--link-blue);
}
/*            */
/* Selection */
/*          */

.catSelection {
  display: grid;
  grid-area: aside;
  grid-row: 2 / span 2;
  justify-content: center;
  align-content: center;
}
.catSelection h1, ul {
  padding: 20px;
  list-style: none;
}
.catSelection li {
  text-align: center;
  padding: 5px;
}
.catSelection li:hover {
  background-color: lightgrey;
  border: 1px solid var(--modal-orange);
  cursor: pointer;
}
.catSelection_modal {
  border-top: 5px solid var(--modal-orange);
  border-bottom: 5px solid var(--modal-orange);
  background-color: rgb(243, 243, 243);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/*         */
/* Display */
/*         */

.catDisplay {
  display: grid;
  grid-area: content;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/*        */
/* Footer */
/*        */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row-start: 4;
  grid-column: span 3;
  border-top: 3px solid var(--modal-orange);
  margin-top: 5.2%;
  background-color: lightgrey;
  width: 100%;
}
#social {
  align-self: center;
  justify-content: flex-end;
  font-size: 3em;
  padding-right: 2%;
}
#social :hover {
  transform: scale(1.1);
}
a {
  color: var(--link-blue);
  text-decoration: none;
}
.trademark {
  font-size: 1.2em;
  justify-content: center;
  padding-left: 2%;

}
.trademark a:hover {
  color: rgb(10, 155, 223);
  text-shadow: 1px 1px 1px black;
}