.wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas: "header header header"
                       "aside  content content"
                       "aside  content content"
                       "footer footer footer";
  /* grid-template-rows: 100px 1fr 100px 100px; */
  grid-gap: 20px;
}
.title {
  text-align: center;
  grid-area: header;
  /* grid-column-start: 4;
  grid-column: span 4; */
  border-bottom: 1px solid black;
}
.catSelection {
  display: grid;
  grid-area: aside;
  grid-row: 2 / span 2;
  justify-content: center;
}
.catDisplay {
  display: grid;
  grid-area: content;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer {
  grid-row-start: 4;
  grid-column: span 3;
  border-top: 1px solid black;
  text-align: center;
  /* margin-top: 3.2%; */
  background-color: lightseagreen;
  width: 100%;
  height: 100%;
}
